<!--messages section-->
<div class="row message" id="conversation">
  <div class="col-12 col-md-12">
    <!--Messages-->
    <!-- {{history | json}} -->
    <div *ngFor="let message of history">
      <app-received-message *ngIf="!senderMessage(message)" [message]="message"></app-received-message>
      <app-sent-message *ngIf="senderMessage(message)" [message]="message"></app-sent-message>

    </div>
    <!--received message component-->
    <!-- <app-received-message></app-received-message> -->
    <!--sent message component-->
    <!-- <app-sent-message></app-sent-message> -->

    <!--received message component-->
    <!-- <app-received-message></app-received-message> -->
    <!--sent message component-->
    <!-- <app-sent-message></app-sent-message> -->
  </div>
</div>
<!--reply section-->
<div class="row reply">
  <div class="col-9 col-sm-9 reply-main">
    <textarea
      class="form-control"
      rows="1"
      id="comment"
      placeholder="write a message..."
      [(ngModel)]="message"
      name="message"
    ></textarea>
  </div>
  <div class="col-2 col-sm-2 reply-send">
    <button type="button" class="btn btn-info btn-send" (click)="send()">
      Send
    </button>
  </div>
</div>
