.message {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 120px);
    background-color: #eeeeeeaf;
}

/*reply section*/
.reply {
    height: 60px;
    width: 100%;
    background-color: #e2e2e2;
    padding: 10px 5px 10px 5px;
    margin: 0;
    z-index: 1000;
}