
<div class="row sideBar-body" *ngFor="let contact of contacts">
    <div class="col-12 col-md-12">
        <div class="row time-container">
            <div class="col-12 col-md-12 float-right sideBar-time">
                <span class="time-meta float-right">
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-3 col-md-3 sideBar-avatar">
                <div class="avatar-icon">
                    <!-- <span class="status status-{{contact.status}}"></span> -->
                    {{contact.nickName}}
                </div>
            </div>
            <div class="col-9 col-md-9 sideBar-main">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 sideBar-name">
                        <span class="name-meta contact-name">

                        </span>
                        <span class="name-meta last-message">

                            <!-- {{contact.messages[0]}} -->
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

