<div class="row message-body">
  <div class="col-sm-12 message-main-sender">
      <div class="receiver-time">
          {{ message.dataTime }}
        </div>
    <div class="sender">
      <div class="message-text">
        {{ message.content }}
      </div>
    </div>


  </div>
</div>
