html,
body,
div,
span {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
}

* {
    -webkit-transition:.2s ease-in-out;
    -moz-transition:.2s ease-in-out;
    -o-transition:.2s ease-in-out;
    transition:.2s ease-in-out;
}
/*Main styles*/

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: LightSeaGreen;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 70%;
    width: 90%;
    margin: auto;
    padding: 0;
    border-radius: 7px;
    -webkit-box-shadow: 0 13px 40px -13px rgba(0, 0, 0, .75);
    box-shadow: 0 13px 40px -13px rgba(0, 0, 0, .75);
}

.app-container {
    background-color: #f7f7f7;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0 13px 40px -13px rgba(0, 0, 0, .75);
    box-shadow: 0 13px 40px -13px rgba(0, 0, 0, .75);
}

@media (max-width: 768px) {
    .app-container {
        overflow: scroll;
    }
}

/*Contact list section*/
.side {
    padding: 0;
    margin: 0;
    height: 100%;
}

.sideBar {
    overflow: scroll;
}

.side-mainArea {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    top: 0;
}

.heading {
    padding: 10px 16px 10px 15px;
    margin: 0;
    height: 60px;
    width: 100%;
    background-color: #eee;
    z-index: 1000;
}

/*navigation buttons*/
.tabsContainer {
    padding: 0;
    margin: 0;
    height: 60px;
    width: 100%;
}

.tabsContainer-inner {
    height: 100%;
    width: 100%;
    padding: 0px;
    background-color: #e2e2e2;
}

.tabs-container {
    display: flex;
    height: 100%;
}

.tabs-container li {
    flex: 1;
}

.tabs-container * {
    height: 100%;
}

.nav-tabs .nav-link {
    border: 0px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.nav-link {
    padding: 0px;
}

.nav-item {
    text-align: center;
    background-color: #e2e2e2;
    border-radius: 0px;
    border-right: 1px solid #c6c6c6;
}
.nav-item:last-child {
    border-right: 0px solid #b4b4b4;
}
.nav-item:hover {
    background-color: rgba(32, 178, 171, 0.616) !important;
    border-radius: 0px;
}
.nav-item:hover * {
    opacity: 1;
}
.nav-item a {
    color: white;
    border-radius: 0px;
    line-height: 60px;
    font-size: 20px;
}

.nav-link.active {
    background-color: LightSeaGreen !important;
}

/*contact component */
app-contact {
    width: 100%;
}
/*main chat section*/
.conversation {
    padding: 0;
    margin: 0;
    height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
}

/*Header section*/
.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    text-align: end;
}

.heading-container div {
    width: auto;
    height: auto;
}

.heading-contact-container {
    display: flex;
    align-items: center;
}

.heading-avatar {
    padding: 0;
    cursor: pointer;
}

.heading-avatar-icon img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.heading-name {
    padding: 0;
    cursor: pointer;
}

.heading-name-details {
    margin-left: 10px;
}

/*settings icon */
.heading-dot {
    padding: 0;
    margin-left: 10px;
}

.heading-dot i {
    text-align: right;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
}

.faIcon {
    opacity: .6;
}

.faIcon:hover {
    opacity: 1;
    cursor: pointer;
}

/*messages section*/
.message {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 120px);
    background-color: #eeeeeeaf;
}



.paperClip {
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg);
    text-align: center;
}

.paperClip fa-icon {
    font-size: 26px;
    opacity: .4;
}

.paperClip fa-icon:hover {
    opacity: .7;
}

.reply-main {
    padding: 1px 5px;
}

.reply-main textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    padding: 5px;
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
    height: 100%;
    font-size: 16px;
}

.reply-main textarea:focus {
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
}

.reply-send {
    padding: 1px 10px;
}

.reply-send i {
    text-align: center;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
}

.btn-send {
    width: 100%;
    height: 100%;
    padding: 0px;
    border: 0px;
    background-color: LightSeaGreen;
}

.btn-send:hover {
    background-color: rgba(32, 178, 171, 0.658);
}
