<div class="row message-body">
  <div class="col-sm-12 message-main-receiver">

    <div class="receiver">
      <div class="message-text">
          {{message.sender.nickName}} says: {{ message.content }}
      </div>
    </div>
    <div class="receiver-time">
        {{message.dataTime}}
      </div>
  </div>
</div>
