<div class="row sideBar-body" *ngFor="let group of groups">
  <div class="col-12 col-md-12" (click) ="startGroupChat(group.Id)">
  <div class="row time-container">
    <div class="col-12 col-md-12 float-right sideBar-time">
      <span class="time-meta float-right"> </span>
    </div>
  </div>
  <div class="row">
    <div>
      <!-- <span class="status status-{{contact.status}}"></span> -->
      {{ group.starter.nickName }} chat with
    </div>

    <div class="col-12 col-md-12 sideBar-main">
      <div class="row">
        <div class="col-sm-9 col-xs-9 sideBar-name">
          <span class="name-meta contact-name">
            <p *ngFor="let member of group.members">{{ member.nickName }},</p>
          </span>
        </div>
        <div class="col-sm-3 col-xs-3 sideBar-name">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            +
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a
              class="dropdown-item"
              *ngFor="let contact of contacts"
              (click)="addMember(group.Id, contact.nickName, contact.email)"
              >{{ contact.nickName }}</a
            >
          </div>
        </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
<button class="btn" (click)="addGroup()">Create Chat</button>
