<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Chat application</a>
  <button
    class="btn btn-outline-success my-2 my-sm-0"
    type="button"
    data-toggle="modal"
    data-target="#myModal"
  >
    Sign up
  </button>
  <form class="form-inline">
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
      [(ngModel)]="user.email"
      name="email"
      required
    />
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Password"
      [(ngModel)]="user.password"
      name="password"
      required
    />
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="login()" type="submit">
      Log in
    </button>
  </form>
</nav>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Sign up</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Nick Name</label>
            <input
              type="email"
              class="form-control"
              placeholder="Enter NickName"
              [(ngModel)]="user.nickName"
              name="nickName"
              required
            />
            <small id="emailHelp" class="form-text text-muted"
              >The fannnncies nick name you can think of.</small
            >
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input
              type="email"
              class="form-control"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              [(ngModel)]="user.email"
              name="email"
              required
            />
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              [(ngModel)]="user.password"
              name="password"
              required
            />
          </div>

          <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="signUp()">
            Submit
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
